/* Estilo general para las categorías */
.categorias-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.categoria {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    width: 150px;
    text-align: center;
    transition: all 0.3s ease;
}

.categoria:hover {
    background-color: #e2e2e2;
    transform: scale(1.05);
}

.categoria h3 {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.categoria img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.categoria a {
    text-decoration: none;
    color: #007BFF;
    font-size: 16px;
}

.categoria a:hover {
    text-decoration: underline;
}
