/*Indicar que el formato de tamaño de las cajas es border-box!!*/

*{
    box-sizing: border-box;
}

/*Dar color de fondo a toda la página, por ejemplo, un gris*/

body{
    background-color: grey;
}

/*El div contenedor general debe tener un color de fondo verde claro,
redondear 100px los bordes (que no sean vértices con pico)
CENTRAR HORIZONTALMENTE el div, respetando una distancia de 100px respecto a la parte superior de la ventana
No debe de ser un elemento estatico (posicionamiento relativo!!), 
tiene hijos que se posicionan respecto a el
Tiene una altura de 600px
Y un ancho del 80%
*/
.contenedor{
    background-color: green;
    border-radius: 100px;
    margin: 100px auto;
    position: relative;
    height: 600px;
    width: 80%;
}


/*El panel de navegacion de tener un fondo gris
debe permanecer SIEMPRE EN PANTALLA, ningun elemento le puede solapar,
si bajamos en la pantalla el menu de navegacion PERMANECE pegado al margen superior de la ventana*/
/*
1. Fondo gris
2. Permanecer siempre en pantalla
3. Ningun elemento lo puede solapar
4. Pegado en la parte superior 
*/
.contenedor nav{
    background-color: azure;
    position: sticky;
    top: 0;
    z-index: 1000;
}


/*Los elementos del menu de navegacion deben de tener color blanco y ponerse un al lado del otro.
Cada uno de ellos tiene un padding de 20px y ancho del 20% respecto a su contenedor padre*/

/* 
1. Elementos del menu en blanco
2. Ponerse uno alado del otro
3. Padding 20
4. ancho de 20%
*/

.contenedor nav div{
    color: white;
    display: inline-block;
    padding: 20px;
    width: 20%;
}


/*
Todos los figure tienen un color de fondo blanco y un borde de negro
Tienen un padding de 10px
El texto (figcaption) debe estar centrado en su propio contenedor (figure)
Deben de tener un ancho del 25% de su contenedor padre
*/

/* 
1. Figuras con fondo blanco
2. Figuras con borde negro
3. Padding de 10px
4. Figcaption centrado en su propio contenedor
5. Ancho del 25%
*/



/*Todas las imagenes dentro de un figure tienen un ancho del 90% respecto a su padre*/


/*
El id img1 debe tener una posicion absoluta y estar posicionado un 20% a la derecha (left!!) de su padre
y un 25% por debajo del extremo superior
debe rotar -45grados (transform: rotate(-45deg)
Cuiadado con la prioridad con la que se muestra!
*/

/*
1. id img1 posicion absoluta
    1.1 Posicionado a un 20% a la derecha y de su padre a un 25%
    1.2 Rotar -45 grados
*/




/*
El id img2 debe tener una posicion absoluta y estar posicionado un 30% a la izquierda de su padre
y un 30% por debajo del extremo superior
debe rotar 45grados (transform: rotate(45deg)
Cuiadado con la prioridad con la que se muestra!
*/




/*
El id img3 debe tener una posicion absoluta y estar posicionado un 40% a la izquierda de su padre
y un 35% por debajo del extremo superior
debe rotar -15 grados (transform: rotate(-15deg)
Cuiadado con la prioridad con la que se muestra!
*/



/*
El id img3 debe tener una posicion absoluta y estar posicionado un 50% a la izquierda de su padre
y un 40% por debajo del extremo superior
debe rotar 15 grados (transform: rotate(15deg)
Cuiadado con la prioridad con la que se muestra!
*/



/*
El menu lateral de estar encuadrado con un borde de 2px y los vertices derechos (superior e inferior) redondeados con 10px
El tamaño de la letra de sus elementos es de 0.8em
Tiene una altura del 40% de su contenedor padre
Tiene un ancho de 80px
Su posicion es fija en la ventana, separado un 30% respecto al extremo superior
El texto de sus elementos debe estar centrado

*/




/*Estilo de los elementos de la lista (sin puntero)* del menu lateral*/


/*Estilo de la imagen del menu lateral, con un ancho del 90% de su contenedor padre*/












