/*a) Ajustar tamaño de todas las cajas, para que las dimensiones dadas de ancho y alto
sean el total de las dimensiones hasta el borde sin contar con el margen*/

*{
    box-sizing: border-box;
}
/*b) Dar estilo de fuentes en todo el cuerpo de la página: arial
Fondo de color de la página blanco
*/
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

/*c) Cabecera, contenedor total (global), contenedor principal (main) y pie de página deben de tener un ancho máximo de 1200px.
Se deben de centrar horizontalmente estos elementos*/

header, .container, .main, footer{
    max-width: 1200px;
    margin: 0px auto;
}

/*d) La cabecera y el pie de página deben de tener color de fondo #333, color de texto blanco,
tienen un padding de 10px y están centrados horizontalmente*/

header, footer{
    background-color: #333;
    color: white;
    padding: 10px;
    margin: 0px auto;
} 

/*e) La barra de navegación tiene color de fondo #1a1a1a, color de letra blanco, padding 10px
 Debe responder a scroll, pero no desaparecer de la página (se queda pegada al extremo superior)
 Si hay o pudiera existir solapamiento con otros elementos de la página, la barra de navegación debe mostrarse siempre
*/

nav{
    background-color: #1a1a1a;
    color: white;
    padding: 10px;
    position: sticky;
    z-index: 100;
    margin: 0;
    top: 0;
}


/*f) Dar estilo a los elementos de la barra de navegacion (cada uno guarda un margen derecho de 15px)*/

nav div {
    margin-right: 15px;
    display: inline-block;
    padding: 5px;

}
/*g) Usando selectores de hijo directo, aplica estilos a los enlaces que hay en la barra de navegación
(texto en color blanco y padding de 8px superior e inferior y 15px en los laterales)*/

div > nav{
    text-align: center;
    color: white;
    /* Tmabien se podria poner paddin: 8px 15px */
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;
}

/*h) Container tiene un ancho del 80% y guarda un margen superior de 50px*/

.container{
    width: 80%;
    margin-top: 50px;
}

/* Banner */
/*i) La caja a modo de banner ("Bienvenidos a Hogwarts")
Debe estar posicionada respecto a su padre, 120px por debajo de su extrenmo superior y a una distancia del 40% respecto a su extremo izquierdo
Tiene un ancho del 20%
Tiene color de fondo #4a4a4a
Padding de 10px superior e inferior y 20px en los laterales
Las esquinas están redondeadas
Decoración de texto: alienado al centro, negrita y de color blanco
*/


#banner{
    position: absolute;
    top: 120px;
    left: 40%;
    width: 20%;
    background-color: #4a4a4a;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    font-weight: bold;
    color: white;
    border-radius: 10px;
}


/*j) Todas las secciones que están dentro de la sección principal guardan un margen inferior con el resto de 30px*/

.main section {
    margin-bottom: 30px;
}

/*k) Todas las etiquetas H2 que están dentro de la sección principal tiene un texto en color #333
y están subrayadas, lo que es equivalente a que estén encuadradas dando estilo únicamente al borde inferior con 2px y de color #ddd.
Tienen un padding inferior de 5px
*/
.main h2 {
    color: #333;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}


/* RESULTADO 2 */
/*l) Linea de separacion entre hechizos y el sombrero seleccionador.
Aplicando el selector (selector, pseudoselector o pseudoelemento) adecuado aplica la siguiente regla que generará la línea*/
 /*{
    background-color: gold;
    display: block;
    content: "";
    height: 2px;
    width: 70%;
    margin: 0px auto;
    margin-top: 30px;
}*/

#hechizos::after{
    background-color: gold;
    display: block;
    content: "";
    height: 2px;
    width: 70%;
    margin: 0px auto;
    margin-top: 30px;
}

/*m) La sección del sombrero se ajusta al 70% del ancho de su contenedor padre.
Se centrada horizontalmente
Se debe manejar el desbordamiento en altura*/

#sombrero {
    width: 70%;
    margin: auto;
    overflow-y: hidden;
}


/*n) Se deben de colocar los elementos de tal forma que floten con respecto a la imagen.
La imagen tiene un ancho del 20% y guarda un margen izquierdo del 10%.
Los textos, flotan con la imagen, tienen un ancho del 50% de su contenedor padre, con el texto justificado y guardando un margen superior de 20px
*/

#sombrero img {
    width: 20%;
    margin-right: 10%;
    float: left;
}

#sombrero div {
    width: 50%;
    text-align: justify;
    margin-top: 20px;
    float: left;
}



/* RESULTADO 3 */
/*o)
Usando un selector de adyacencia se debe de asegurar que la sección de personajes, no flote con respecto a la anterior y se coloque debajo*/

#personajes+section{
    display: block;
    float:none;
}

#personajes+section{
    clear: both;
}



/* Tabla de Personajes.*/
/*p) Formato general de tabla
Tiene un ancho del 100% y guarda un margen superior de 20px
Ajustar bordes (colapsados)*/

.personajes {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}


/*q) Colores de columnas. 
La primera columna tiene color #ffe5b4
La segunda columna tiene color #d8bfd8
La tercera columna tiene color #b0c4de*/

tbody tr, td:first-child {
    background-color: #ffe5b4;
}

tbody tr, td:nth-child(2){
    background-color: #d8bfd8;
}

tbody tr, td:nth-child(3){
    background-color: #b0c4de;
}


/*r) Todas las celdas (td y th) de la tabla tienen un padding de 10px y tienen el texto alineado a la izquierda*/

table td , th {
    padding: 10px;
    text-align: left;
}
/*s) Todos las celdas cabecera (th) tienen color de fondo #555 y color de texto blanco*/

table thead tr th{
    background-color: #555;
    color: white;
}

/*t) Las filas 3 y 5 de la tabla tienen color de fondo #f9f9f9*/
table tbody,
tr:nth-child(4) td{
    background-color:#f9f9f9;
}

table tbody,
tr:nth-child(2) td{
    background-color: #f9f9f9;
}


/*u) Todas las celdas, menos la primera, de la primera columna tienen la letra en negrita*/

table tbody tr td:first-child{
    font-weight: bold;
}

/* Pie de página*/
/*v)
El pie de página tiene color de fondo #222
Tiene un padding de 10px
Guarda un margen superior de 30px
Tiene los elementos de texto alienados al centro y de color blanco
*/
footer {
    background-color: #222;
    padding: 10px;
    margin-top: 30px;
    text-align: center;
    color: white;
}


/*w) Ajustar en línea los elementos de la barra de navegación. Cada uno de ellos guarda un margen derecho de 15px*/
nav ul {
    padding: 0;
    list-style-type: none;
    text-align: center;
}
nav ul li {
    display: inline-block;
    margin-right: 15px;
}


/*x) Los enlaces de los elementos de navegación tienen color #ccc y NO están subrayados (text-decoration: none)*/

nav a {
    color: #ccc;
    text-decoration: none;
}

/*y) Al pasar el ratón por encima de cualquiera de los enlaces, este debe cambiar de color a gold*/
nav a:hover {
    color: gold;
}
