<?xml version="1.0" encoding="UTF-8"?>
<website>
    <header>
        <title>My Website</title>
        <description>A simple XML structure for a website</description>
    </header>
    <navigation>
        <link href="index.html">Home</link>
        <link href="about.html">About</link>
        <link href="contact.html">Contact</link>
    </navigation>
    <content>
        <section>
            <heading>Welcome to My Website</heading>
            <paragraph>This is a simple XML file that can be transformed into HTML using XSLT.</paragraph>
        </section>
    </content>
</website>
