*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

body{
    text-align: center;
}

button{
    display: inline-block;
    text-align: center;
    margin: 20px;
    border: none;
    border-radius: 8px;
    width: 160px;
    height: 60px;
    box-shadow: 2px 2px 20px 1px rgb(0, 0, 0,486);
}

button span{
    vertical-align: middle;
    color: white;
}

button:first-of-type{
    background: linear-gradient(to right, rgb(20, 5, 218), rgb(8, 129, 185));
}

button:nth-child(2){
    background: linear-gradient(to right, rgb(58, 58, 58), rgb(133, 133, 133));
}

button:nth-child(3){
    background: linear-gradient(to right, rgb(63, 201, 8), rgb(4, 216, 4));
}

button:nth-child(4){
    background: linear-gradient(to right, rgb(214, 195, 18), rgb(148, 134, 7));
}

button:last-of-type{
    background: linear-gradient(to right, rgb(185, 14, 14), rgb(163, 73, 73));
}

