/* Dar fuente Courier New, a todos los elementos*/
* {
    font-family: 'Courier New', Courier, monospace;
}

/*El color del elemento principal (id) es grey*/
#main{
    background-color: grey;
}

/*Todas los h1 que tengan la clase especial son azules*/

h1.especial {
    color: blue;
}

/*Los h2 y h3, están encuadrados con un border de 1 píxel y de color naranja*/

h2, h3{
    border: 1px orange solid; 
}

/*Los elementos de la lista son rojos*/
ul {
    color: red;
}
/*Los elementos que son elementos de otra lista son verdes. Recordamos que es en cascada, se aplica el último estilo hacia abajo*/
li li {
    color: green;
}

/*Las imagenes que son hijas directas de párrafos, deben de estar encuadradas con un borde de 5 píxeles y de color negro*/

p>img {
    border: 5px black solid;
}

/*Las imagenes que tengan como valor de atributo "segunda", deben de estar encuadradas con un borde de 5 píxeles y de color rojo*/
img[alt="segunda"]{
    border: 5px red solid;
}
/*Los h3 que estén antes de un párrafo y que tengan la clase "antes" ponerles de color de fondo rosa*/
h3.anes
/*Los h3 que estén justo despúes de un párrafo poner de color de fondo azul*/
