.cuadro{
    position: absolute;
    top: 50px;
    right: 50px;
}


/* Ejercicio 2 */
img{
    position: relative;
    width: 100%;
}

.texto{
    position: absolute;
    top: 30%;
    left: 30%
}

/* Ejercicio 3 */
.cabecera {
    position: relative;
    width: 100%;
}

.cabecera h1{
    position: absolute;
    top: 35%;
    left: 30%;
    z-index: 1;
    background-color: beige;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
}

.contenedor2 {
    display: flex;             /* Activa el modo flexible */
    justify-content: center;    /* Centra los botones horizontalmente */
    background-color: lightgray;
    padding: 20px;
    margin: 20px;
    gap: 20px;
}

