/*Ajustar tamaño de todas las cajas*/
*{
    box-sizing: border-box;
}


/*Estilo de fuentes en todo el cuerpo de la página: cambria y todo en negrita (bold) y de color azul*/

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
color:blue;
    font-weight: bold;
}

/*Barra de nevagcion, cabecera, contendor y pie de página, deben de tener un ancho máximo de 12000x.Centrar horizontalmente estos elementos*/


/*Barra de navegacion con color de fondo azul, color de letra rosa
Tamaño de letra 1.4 em
Padding 10px
Debe responder a scroll, pero no desaparecer de la página (se queda pegada al extremo superior)
*/

nav {
    background-color: rgb(11, 11, 105);
    padding:  0 10px;
    display: flex;
    position: fixed;
    z-index: 1;
    width: 100%;
}


/*Elementos de la barra de navegacion*/

.navegacion {
    color: rgb(192, 121, 145);
    margin: 15px;
}

img{
    width: 100%;
    position: relative;
}

.enlace {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(/pista.jpg);
}


/*Estilos de la cabecera: posicionada y centrada*/






/*Banner compra aqui
Color de fondo y de letra el mismo que antes
Se debe posicionar respecto a su padre
Separada un 15% de su derecha y un 30% de arriba
Con un ancho del 20%
*/








/*
El enlace del banner debe de cambiar de color cuando pasar el ratón por encima
*/








/*
El elemento principal, esta centrado horizontalmente. Tiene un ancho del 80%
*/






/*Kineas de separacion, despues del h1 del main y despues del main*/






/*Manejo de desbordamiento (el main es mas pequeño que su contenido)*/





/*Colocación de cada uno de los divs de las imagenes de la Federacion de Padel*/






/*Ajuste de ancho a 189px y alto a 265px de las imagenes de los fip-item*/






/*
La seccion de las palas se ajusta al 70% del ancho de su contenedor padre
centrada horizontalmente
Se debe manejar el desbordamiento en altura
*/






/*Se deben de colocar los elementos de tal forma que floten con respecto a la imagen
La imagen tiene un ancho del 20% y guarda un margen izquierdo del 10%
*/






/*Los elementos que hay dentro de la seccion, flotan con la imagen
Tienen un margen superior del 20% y un ancho del 50%
El texto está justificado
*/







/*La primera linea de texto que hay en los div que estan en la clase pala, deben de ser:
el doble de grandes de la fuente
del color rosa usado previamente
en negrita
recuadrados solamante en el borde derecho e inferior con bordes de 1px, continuo y de color azul,
ademas deben de guardar un margen derecho (continuacion de línea) de 10px y padding derecho de 10px*/








/*La galeria de imagenes debe de estar centrada horizontalmente (guarda 20px de margen superior e inferior)
Manejo de desbordamiento en altura
Tiene un ancho del 70%
*/





/*Colocacion de las imagenes de la galeria que deben de tener un ancho cada una del 20%*/








/*Estilos del pie de pagina, es un elemento NO flotante
Manejo de desbordamiento*/








/*Estilos del div de la direccion. Definir altura y anchura*/







/*Colocar y dimensionar adecuadamente el icono de la red social de instagram*/
